@{
    ViewBag.Title = "Dashboard";
}

<label id="lblmessage">@ViewBag.data</label>

@*<a href=" @Url.Action("ExcelToDatabase", "Home")">
    <i class="fa fa-database"></i> Load Customer data
</a>

<a href=" @Url.Action("OfferExcelToDatabase", "Home")">
    <i class="fa fa-database"></i> Load Offer data
</a>
<a href=" @Url.Action("PendingInvExcelToDatabase", "Home")">
    <i class="fa fa-database"></i> Load Pending Invoice data
</a>
<a href=" @Url.Action("SummaryExcelToDatabase", "Home")">
    <i class="fa fa-database"></i> Load Summary data
</a>
<a href=" @Url.Action("OrderExcelToDatabase", "Home")">
    <i class="fa fa-database"></i> Load Order data
</a>*@