@model Valcan.Models.FileModel

@using (Html.BeginForm("UploadFiles", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
                <input type="button" id="btnLoadall" class="btn btn-primary" value="Load All Excel Data" onclick="return loadExcelData()" />

            </div>

        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success error-msg">
                @ViewBag.UploadStatus
            </div>
        </div>

    </div>


    @*<a href=" @Url.Action("LoadALlExcelData", "FileUpload")">
            <i class="fa fa-database"></i> Load All Excel Data
        </a>*@
}
<script type="text/javascript">
    function loadExcelData() {
        $("#ajax-loader").show();
        $.ajax({
            url: "@Url.Action("LoadALlExcelData", "FileUpload")",
            type: "GET",
            beforeSend: function () {
                $("#ajax-loader").show();
            },
            error: function (xmlHttpRequest, errorText, thrownError) {
                //alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                $("#ajax-loader").hide();
                $(".error-msg").html(errorText + "---------------" + thrownError + "--------------------" + xmlHttpRequest);
            },
            success: function (data) {
                $(".error-msg").html(data);
            },
            complete: function () {
                $("#ajax-loader").hide();
            }
        });
    }
</script>
